.flex-container {
	display: flex;
	flex-flow: column;
	background-color: white;
}

.div-picture {
	background-image: url('https://i.postimg.cc/5tW83BjM/photo-1595561579181-263fe6175b73.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 529px;
	left: 0px;
	top: 104px;
	margin-top: 100px ;
	
}
.text {
	/* width: 1152px; */
	height: 144px; 
	left: 1px;
	right: 1px;
	top: 633px;
	background: #347ca5;
}

.text p {
	
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	padding-top: 45px;
	color: #ffffff;
}
.donate {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.donate-header h1 {
	/* display: flex;
    justify-content: center; */
	margin-top: 40px;
	padding-bottom: 0;
	margin-bottom: 0;

	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 72px;
	line-height: 84px;

	color: #347ca5;
}
.donate-form {
	margin-top: 1px;
	width: 522px;
	height: 600px;
	/* left: 293px;
    top: 918px; */

	background: #e5e5e5;
	border-radius: 10px;
}
.donate-form > label {
	margin-left: 40px;
	/* margin-top: 30px; */
	/* padding-top:10px ; */
	font-family: Roboto;
	/* font-style: normal; */
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	padding: 10px 10px;

	color: #347ca5;
}
.donate-form > input {
	margin-left: 35px;
	width: 444px;
	height: 57px;
	left: 334px;
	top: 989px;
	border: none;
	

	background: #ffffff;
	border-radius: 10px;
}
.donate-form input::placeholder {
	font-family: Roboto;
	font-size: 18px;
	font-weight: lighter;
	color: #999;
	margin-left: 5px;
	padding-left: 15px;
}
.donate-form textarea {
	margin-left: 35px;
	width: 444px;
	height: 114px;
	background: #ffffff;
	border-radius: 10px;
	border: none;
}
#payment-button {
	width: 201px;
	height: 60px;
	margin-left: 35px;
	background-image: url('https://i.postimg.cc/76sCp0Ph/3fa0b0ba7c17fbde04063dfe67f8a373.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 10px;
}
