* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#div-header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: auto;
	height: 110px;
}

#btn-donate {
	width: 153px;
	height: 63px;
	background-color: #347ca5;
	border-radius: 10px;
	font-family: Roboto;
	font-size: 30px;
	color: #fff;
	border: none;
}

ul,
li,
a {
	display: inline-block;
	text-decoration: none;
	list-style: none;
	color: #347ca5;
	font-size: 24px;
	margin: 0px 10px;
}

#search-box {
	width: 329px;
	height: 27px;
	background: #fff;
	border: 1px solid #347ca5;
	border-radius: 10px;
	color: '#347CA5';
}

#search-box::placeholder {
	color: #347ca5;
	font-size: 12px;
	padding-left: 8px;
}
