.div-header {
	width: 1152px;
	height: 104px;
	left: 0px;
	top: 1px;
}

#img-logo {
	position: absolute;
	width: 48px;
	height: 44px;
	left: 41px;
	top: 34px;
}

#btn-donate {
	position: absolute;
	width: 153px;
	height: 63px;
	left: 118px;
	top: 22px;
	background: #347ca5;
	border-radius: 10px;
	border: none;
}

#text-btn-donate {
	width: 117px;
	height: 20px;
	left: 110px;
	top: 37px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 35px;
	color: white;
}

ul {
	margin-left: 296px;
	margin-top: 40px;
	font-size: 24px;
}

li {
	display: inline;
	margin-right: 48px;
	color: #347ca5;
}

a {
	text-decoration: none;
	color: #347ca5;
	font-weight: 400;
}

.searchContainer {
	display: grid;
	grid-template-columns: 1.5rem 4fr 1fr;
	width: 300px;
	border: 1px solid #ccc;
	border-radius: 5px;
	overflow: hidden;
}

.searchContainer:focus-within i {
	display: none;
}

.searchContainer:focus-within .searchBox {
	grid-column: 1/4;
}

.searchContainer:focus-within .searchBox::placeholder {
	color: transparent;
}

.searchIcon {
	padding: 0.5rem;
	grid-row: 1;
	grid-column: 1/2;
	z-index: 2;
}

.searchBox {
	border: 0;
	padding: 0.5rem;
	grid-column: 2/4;
	grid-row: 1;
	outline: none;
}

.searchButton {
	background: #538ac5;
	border: 0;
	color: white;
	padding: 0.5rem;
	border-radius: 0;
	grid-column: 4/5;
	grid-row: 1;
}
