.donate-goods{
    justify-content: center;
}

.donate-goods-container {
    position: relative;
  }
  
  .donate-goods-image {
    display: block;
    width: 100%;
    height: 317px;
  }
  
  .donate-goods-overlay {
    position: absolute;
    bottom: 0; 
    background: rgba(52, 124, 165, 0.84);
    width: 100%;
    transition: .5s ease;
    /* opacity:0; */
    color: white;
    /* font-size: 20px; */
    /* padding: 20px; */
    text-align: center;
    height: 317px;
    opacity: 1;
  }

.donate-goods-text {
    position: absolute;
    top: 50%;
    margin-left: 33%;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 84px;
    color: #FFFFFF;
}

.cantent {
    display: grid;
    align-content: center;
    height: 100%;
    width: 100%;
    background: #E5E5E5;
    margin-left: auto;
    margin-right: auto;
}

.cantent1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
  }

.image-1 {
    background: url('./nick-de-partee-5DLBoEX99Cs-unsplash\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10%;
    height: 100%;
    border-radius: 5%;
}

.content1-p {
    margin-top: 15%;
    margin-left: +30px;
    font-family: Prociono;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 50px;
}


.cantent2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
  }

.image-2 {
    background: url('./nick-de-partee-5DLBoEX99Cs-unsplash\ 1\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10%;
    height: 100%; 
    border-radius: 5%;
    margin-bottom: 5%;
}

.content2-p {
    margin-top: 10%;
    margin-right: 30px;
    font-family: Prociono;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 50px;
}

.content2-p h4 {
    margin-bottom: 5%;
}

.content2-p a {
    cursor: pointer;
    margin-left: -5px;
    margin-top: 5%;
}

.content2-p a:hover {
    text-decoration: underline;
}

.donate-goods-btn {
    margin-top: 3%;
    margin-left: 42%;
    margin-bottom: 2%;
    border-radius: 5px;
    border: none;
    background: #F49131;
    color: #fff;
    padding: 15px;
    font-size: medium;
}


@media only screen and (max-width: 885px) {
    .donate-goods-text {
        margin-left: 20%;
    }

}


@media only screen and (max-width: 560px) {
    .donate-goods-text {
        margin-left: 2%;
    }

    .donate-goods-btn {
        margin-left: 35%;
    }

    .content1 {
        display: grid;
        grid-template-columns: 1fr;
    }

    .content2 {
        display: grid;
        grid-template-columns: 1fr;
    }
}