* {
	box-sizing: border-box;
}

#footer {
	width: 100%;
	height: 193px;
	left: -1px;
	background: #347ca5;
}

#form {
	display: flex;
	justify-content: center;
	align-items: center;
}

#form-btn {
	width: 110px;
	height: 62px;
	background: #f49131;
	border-radius: 10px;
	color: white;
	border: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 35px;
}
#form-title {
	padding: 1.5% 0px;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 35px;
	color: #ffffff;
}

.form-input {
	margin-right: 25px;
	width: 350px;
	height: 48px;
	top: 2252px;
	border: none;
	background: #76a9c7;
	border-radius: 10px;
	color: white;
	font-size: 18px;
	padding-left: 15px;
}

.form-input::placeholder {
	display: flex;
	align-items: center;
	font-family: Roboto;
	font-size: 24px;
	color: white;
	padding-left: 15px;
	padding-top: 30px;
}

#footer-nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #c4c4c4;
	height: 70px;
	width: 100%;
	font-family: Prociono;
	color: 347ca5;
	font-weight: 400;
}
