#newsTitle {
  position: absolute;
  width: 756px;
  height: 86px;
  left: 25%;
  top: 732px;
  font-family: Prociono;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 78px;
  color: #347ca5;
}
#newsHomePage {
  position: absolute;
  width: 100%;
  height: 1350px;
  left: 0px;
  top: 818px;
  background: rgba(229, 229, 229, 0.42);
}
