.sign-up {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	width: 627px;
	height: 628px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 100px;
}

.sign-up-header {
	display: flex;
	flex-direction: row;
}

.sign-up-logo {
	margin-top: 17px;
	margin-left: 70px;
	margin-right: 20px;
}

.sign-up-h1 h1 {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	color: #347ca5;
}

.sign-up-body {
	display: flex;
	flex-direction: column;
	background-color: #e5e5e5;
	border-radius: 10px;
	width: 85%;
	height: 97%;
	margin: auto;
	margin: auto;
}

.valid {
	margin-top: 5px;
	margin-left: 15%;
	font-family: Prociono;
	font-style: normal;
	font-weight: normal;
	color: red
}

.sign-up-SignIn {
	margin-top: 5px;
	margin-left: 15%;
	font-family: Prociono;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	line-height: 78px;
	color: #347ca5;
}

.sign-up-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 15%;
	margin-top: 30px;
}

.sign-up-email {
	max-width: 80%;
	margin-top: 10px;
	background: #ffffff;
	border-radius: 10px;
	border: none;
	font-family: Prociono;
	font-style: normal;
	font-weight: normal;
	padding: 10px;
	font-size: large;
}
.sign-up-email::placeholder {
	padding: 5px;
	font-family: Prociono;
	font-size: 20px;
}

.sign-up-password {
	max-width: 80%;
	margin-top: 30px;
	background: #ffffff;
	border-radius: 10px;
	border: none;
	font-family: Prociono;
	font-style: normal;
	font-weight: normal;
	padding: 10px;
	font-size: large;
}

.sign-up-password::placeholder {
	padding: 5px;
	font-family: Prociono;
	font-size: 20px;
}

.sig-in-forgot-password {
	margin-top: 10px;
	margin-left: 5px;
	color: #347ca5;
	font-size: small;
}
.sign-up-submit {
	margin-top: 20px;
	max-width: 80%;
	border: none;
	background-color: #f49131;
	border-radius: 10px;
	color: #ffffff;
	font-family: Prociono;
	font-style: normal;
	font-weight: normal;
	padding: 5px;
	font-size: xx-large;
	cursor: pointer;
}

.link {
	color: #ffffff;
	margin-top: 50px;
	max-width: 80%;
	margin-left: -4px;
	border: none;
	background-color: #f49131;
	border-radius: 10px;
	color: #ffffff;
	font-family: Prociono;
	font-style: normal;
	font-weight: normal;
	padding: 5px;
	font-size: xx-large;
	cursor: pointer;
	display: flex;
	justify-content: center;
}

.sign-up-google {
	margin-top: 20px;
	max-width: 80%;
	border: none;
	background-color: #ffffff;
	border-radius: 10px;
	color: #347ca5;
	font-family: Prociono;
	font-style: normal;
	font-weight: normal;
	padding: 5px;
	font-size: large;
	cursor: pointer;
}

.sign-up-google img {
	height: 25px;
}

.sign-up-login {
	margin: auto;
	font-family: Prociono;
	font-style: normal;
	font-weight: normal;
	color: #347ca5;
}

.sign-up-login p a {
	font-weight: bold;
	font-size: larger;
	margin-left: 3px;
}
